.intro-header .hero-message h1{
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
}

.intro-header .hero-message h3 {
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    color: #ffdb3d;
    font-size: 26px;
}

