body {
    color: black;
    background-color: white;
    margin: 0;
}

.main_content {
    line-height: 1.5em;
    padding: 20px;
}

.nav {
    background-color: black;
    font-size: 20px;
    color: white;
    padding: 20px;
}

.nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
}

.nav a:hover, .nav a:active {
    text-decoration: underline;
}

/***************** ALBUMS LIST *************/
.albums-in-list {

}

.albums-in-list img {
    height: 150px;
    float: left;
    border-radius: 5px;
    margin: 10px;
    margin-right: 20px;
}

.albums-in-list .album-title {
    font-size: 18px;
}
